* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Bangers", cursive;
  box-sizing: border-box;
  height: 100vh;
  background-image: url("Untitled design.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 4rem;
  padding: 1rem 2rem;
  color: #e5b8f4;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
